<!DOCTYPE html>
<html>
<head>
    <title>Newsletter Sample App</title>
</head>
<body>
    <h1>Newsletter Sample App</h1>
    <p>This app is only to demonstrate the AEM app-integration. It supports the following use cases:</p>
    <ul>
        <li> <a href="/subscribe">Subscribe</a> </li>
        <li> <a href="/confirm-subscription">Confirm Subscription</a> </li>
        <li> <a href="/unsubscribe">Unsubscribe</a> </li>
        <li> <a href="/confirm-unsubscription">Confirm Unsubscription</a> </li>
    </ul>
</body>

</html>