<a href="{{config.app.contextRoot}} ">Home</a>
<a href="{{config.app.contextRoot}}/subscribe/?clang=en&newsletterName=Monthly+Update">Subscribe (en)</a>
<a href="{{config.app.contextRoot}}/subscribe/?clang=de">Subscribe (de)</a>
